asgiref==3.7.2
Django==4.2.6
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
Pillow~=9.4.0
psycopg2-binary==2.9.9
PyJWT~=2.4.0
python-dotenv~=0.21.0
pytz==2023.3.post1
sqlparse==0.4.4
tzdata==2023.3

cryptography~=41.0.3
typing_extensions~=4.7.1
pathlib~=1.0.1
defusedxml~=0.7.1
cffi~=1.15.1
future~=0.18.3
ipython~=8.16.1
zlib~=1.2.13
jupyter~=1.0.0
pip~=22.3.1
panel~=1.2.3
attrs~=22.1.0
wheel~=0.38.4
openssl~=3.0.11
docutils~=0.18.1
sphinx~=5.0.2
tornado~=6.3.2
jinja2~=3.1.2
filelock~=3.9.0
amqp~=5.1.1
vine~=5.0.0
yaml~=0.2.5
pyyaml~=6.0
kombu~=5.3.2
billiard~=4.1.0
botocore~=1.29.76
sqlalchemy~=1.4.39
pycurl~=7.45.2
backports~=1.1
brotli~=1.0.9
zstandard~=0.19.0
celery~=5.3.4
click~=8.1.7
pygments~=2.15.1
python-dateutil~=2.8.2
psutil~=5.9.0
greenlet~=2.0.1
pytest~=7.4.0
tblib~=1.7.0
colorama~=0.4.6
numpy~=1.24.3
requests~=2.31.0
wcwidth~=0.2.5
six~=1.16.0
packaging~=23.1
coreschema~=0.0.4
inflection~=0.5.1
uritemplate~=4.1.1
prompt_toolkit~=3.0.36
setuptools~=68.0.0
pyparsing~=3.0.9
zipp~=3.11.0
coreapi~=2.3.3
markdown~=3.4.1